{% extends '_base.jinja2' %}
{% block content %}
    <div class="row">
        <div class="span8">

                <p class="lead">
                    The statin site renderer is designed to be a dead simple way of turning content of various levels of dynamicism
                    into a static set of HTML
                </p>

                {{ grab('../README.md').as_html() }}
        </div>
        <div class="span4">

            <h3>Articles</h3>
            {% for article in glob('articles/*.md') %}
                <article>
                    <header>
                        <h4>
                            <a href="{{ map(article) }}">{{ select(grab(article).as_html(),'h1').text() }}</a>
                        </h4>
                    </header>
                    <p>
                        {{ select(grab(article).as_html(),'h1 + p').text() }}
                    </p>
                </article>
            {% endfor %}

            <h3>Latest blog posts</h3>
            {% for post in dispatch_type('blog').posts %}
                <article>
                    <header>
                        <h4>
                            <i class="icon-calendar"></i> <a href="{{ to_root }}/{{ post.uri }}">{{ post.title }}</a>
                        </h4>
                    </header>
                    <p>
                        {{ select(post.html,'p:first').text() }}
                    </p>
                </article>
            {% endfor %}
            <div class="pull-right">
                <a class="btn btn-link" href="{{ to_root }}/blog/index.html">More..</a>
            </div>


        </div>
    </div>
{% endblock %}
